{% load scheduletags %}

{% if day_names %}
  <div class="row d-none d-sm-flex p-1 bg-dark text-white">
    <h5 class="col-sm p-1 text-center">Monday</h5>
    <h5 class="col-sm p-1 text-center">Tuesday</h5>
    <h5 class="col-sm p-1 text-center">Wednesday</h5>
    <h5 class="col-sm p-1 text-center">Thursday</h5>
    <h5 class="col-sm p-1 text-center">Friday</h5>
    <h5 class="col-sm p-1 text-center">Saturday</h5>
    <h5 class="col-sm p-1 text-center">Sunday</h5>
  </div>
{% endif %}
{% for week in month.get_weeks %}
  <div class="row border border-right-0 border-bottom-0">
    {% for day in week.get_days %}
      {% day_cell calendar day month size %}
    {% endfor %}
  </div>
{% endfor %}
