{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block content %}
  {% include "schedule/_dialogs.html" %}
  <h2 class="calendarname">{{ calendar.name }}</h2>

  <div class="container">


    <div class="btn-group" role="group" aria-label="Calender DateSelection">
      <a href="{% url "tri_month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}" class="btn btn-secondary">
        {% trans "Three Month Calendar" %}
      </a>
      <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}" class="btn btn-secondary">
        {% trans "Full Year Calendar" %}
      </a>
      <a href="{% url "month_calendar" calendar.slug %}"class="btn btn-secondary">
        {% trans "This month" %}
      </a>
    </div>
    {% prevnext "month_calendar" calendar period "F Y" %}

    <div class="center span7">
      {% month_table calendar period "regular" %}
    </div>
  </div>

{% endblock %}
