{% extends "base.html" %}
{% load scheduletags i18n %}
{% block content %}
    <h1 class="calendarname">{{ calendar.name }}</h1>

  <ul class="nav nav-tabs" role="tablist">
    {% for month in period.get_months %}
      <li class="nav-item">
        <a class="nav-link" href="#{{ month }}" role="tab" data-toggle="tab">{{ month }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for month in period.get_months %}
      <div role="tabpanel" class="tab-pane fade" id="{{ month }}">{% month_table calendar month "big" %}</div>
    {% endfor %}
  </div>


{% endblock %}
