{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% block title %}{% trans "About" %}{% endblock %}</h1>

    <p>Welcome to the new website for the Aberystwyth Computer Science Society, or AberCompSoc</p>

    <p>We are a group of students at Aberystwyth with a keen interest in all things
      Comp Sci. The society aims to provide an environment where like minded people
      can meet and discuss topics of interest. We also aim to attend various events
      and work on projects for fun.</p>

    <p>We have frequent socials every other week. They usually start at 8PM at the
      Cambrian Hotel</p>

    <p>We also host events around the year, such as trips to Bletchley Park, museums,
      and Student Show and Tell Events. We also host an annual trip to <a href="https://fosdem.org">FOSDEM</a>, which
      takes place in Brussels every year around the start of February.</p>

    <p>We are Sponsored by the <a href="https://www.bcs.org/">BCS - The Chartered Institute
      for IT</a>. As a <a href="https://www.bcs.org/category/18176">BCS Student
      Chapter</a>, we are able to supplement your academic experience with our links to the
    BCS and member groups, as well as provide activities and events.</p>

    <p>The best way to keep in touch is to join our group on <a href="https://www.facebook.com/groups/AberCompSoc">
      Facebook</a>. We will post any upcoming events or news here.</p>

{% endblock %}
