{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="jumbotron mt-2">
        <h1>{% block title %}{% trans "Welcome to AberCompSoc" %}{% endblock title %}</h1>
        <p class="lead">AberCompSoc is the society for anyone and everyone interested in Computer Science, and all things related!</p>
        <hr class="my-2">
        <p class="lead">
          <a class="btn btn-secondary btn-lg my-1" href="https://www.abersu.co.uk/society/abercompsoc/" role="button">Become a Member</a>
          <a class="btn btn-secondary btn-lg my-1" href="{% url "account_signup" %}" role="button">Join our Website</a>
          <a class="btn btn-secondary btn-lg my-1" href="https://github.com/abercompsoc" role="button"><i
            class="fab fa-github mr-2"></i>Join us on GitHub</a>
          <a class="btn btn-secondary btn-lg my-1" href="https://www.facebook.com/groups/AberCompSoc/" role="button"><i
            class="fab fa-facebook mr-2"></i>Like us on Facebook</a>
          <a class="btn btn-secondary btn-lg my-1" href="https://twitter.com/abercompsoc" role="button"><i
            class="fab fa-twitter mr-2"></i>Follow us on Twitter</a>
        </p>
      </div>
{% endblock content %}
